<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrototipoMRP.Properties.Settings.ERPSeminarioConnectionString"
            connectionString="Data Source=erpseminario.database.windows.net;Initial Catalog=ERPSeminario;User ID=adminseminario;Password=S@dseminario"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>